@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

 <!-- Registration Card -->
        <div class="auth-card">
            <h2>Register</h2>
            <form asp-action="register">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" required></label>
                    <input asp-for="UserName">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
               
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" >
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsAgree"></label>
                    <input asp-for="IsAgree" required>
                    <span asp-validation-for="IsAgree" class="text-danger"></span>
                </div>

                <button type="submit">Register</button>
                <div class="footer-link">
                    Already have an account? <a href="#">Login</a>
                </div>
            </form>
        </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}