@model RoleViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create New Role</h1>


<form asp-action="Create">

    @{
        await Html.RenderPartialAsync("_CreateEditPartialView");
    }
    <div class="mt-3">
        <button type="submit" class="btn btn-success">Save</button>
        <a class="btn btn-danger" asp-action="Index">Cancel</a>
    </div>
</form>

