@model RoleViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit @Model.Name</h1>


<form asp-action="Edit">

    @{
        await Html.RenderPartialAsync("_CreateEditPartialView");
    }
    <div class="mt-3">
        <button type="submit" class="btn btn-success">Edit</button>
        <a class="btn btn-danger" asp-action="Index">Cancel</a>
    </div>
</form>

